<div class="admin-title">
  <h2>Posts</h2>
  <a href="/add-post" class="btn">+ Add New</a>
</div>
<ul class="admin-posts">
  <% blogs.forEach(blog => { %>
  <li>
    <a href="/post/<%= blog._id %>"><%= blog.title %> &nearr;</a>
    <div class="admin-post-controls">
      <a href="/edit-post/<%= blog._id %>" class="btn">Edit</a>
      <form action="/delete-form/<%= blog._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" class="btn" />
      </form>
    </div>
  </li>

  <% }) %>
</ul>
