<h1>About Me</h1>
<div class="article">
  Hey there, tech enthusiasts! I'm Sourav, a passionate programmer and computer
  science student based in Hyderabad. Welcome to my world of technology, where
  I'll be sharing captivating blogs about all things tech! <br />
  Being a tech enthusiast, I find joy in exploring the latest advancements and
  unraveling the mysteries of the digital realm. This blog is my platform to
  share exciting coding tips, analyze emerging technologies, and keep you
  up-to-date with the ever-evolving tech landscape. <br />I believe that
  technology has the power to transform lives and create positive change.
  Through my engaging and informative blogs, I aim to inspire and empower you to
  embrace technology and make the most out of it. <br />
  <b>
    Join me on this exhilarating journey of discovery and learning. Let's delve
    into the wonders of technology together!</b
  >
  <br />
  <h3>Social Profiles</h3>
  <ul class="profiles">
    <li></li>
  </ul>
</div>
