<div class="author">
  <h1 class="author__heading">Hi, I am Sourav.</h1>
  <p class="author__body">Full Stack Web Developer</p>
</div>

<img
  src="/img/banner.png"
  alt="page banner"
  class="banner"
  width="981"
  height="528"
/>

<section class="blogs">
  <h2 class="blog__heading">Latest</h2>
  <ul class="blog-ul">
    <% blogs.forEach(blog => { %>

    <li>
      <a href="/post/<%= blog._id %>">
        <span class="blog-list__title"><%= blog.title %></span>
        <span class="blog-list__date"
          ><%= blog.createdOn.toDateString() %></span
        >
      </a>
    </li>

    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
</section>
